.header {
    text-align: center;
    padding: 0px .5rem;
    font-size: 32px;
}

.sub-header {
    padding: .5rem 0px;
}

.devOne {
    margin: 1rem 0px;
}

.devTwo {
    margin: 2.5rem 0px;
}

.cardBg {
    background-color: #9eafbf;
    /* padding: 3rem; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/* FAV MUSIC SECTION */
.favMusic {
    width: 100%;
    height: fit-content;
    margin-top: .5rem;
    display: flex;
    justify-content:flex-start;
    padding: .3rem;
    border-radius: 10px;
    background-position: right right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.favMusic::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius:  25px 10px 10px 25px;
    background: rgba(255, 255, 255, 0.299);
}

.favmusic .textArea {
    display: flex;
    margin: auto;
    height: 100%;
    margin-left: 10px;
}

.textArea p {
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    transform: translateY(6.8px);
}

.favMusic img {
    width: 40px;
    border-radius: 100%;
    vertical-align: middle;
    object-fit: cover;
}


/* SECTION ONE  */
.bannerBg {
    width: 100%;
    background-color: #FEFEFE;
    padding: 2rem;
    border-radius: 20px 20px 0px 0px;
}

.bannerHead {
    text-align: right;
    font-size: 25px;
    margin: auto;
}

.section1 {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.section1 h5 {
    text-align: center;
    font-size: 15px;
}


/* SECTION TWO */
.section2 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: .5rem;
    margin: .5rem;
    font-size: 12px;
}

.descRow {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

.descColumn {
    display: flex;
    flex-direction: column;
}

.descRow img {
    border-radius: 100%;
}


/* SECTION THREE */
.section3 {
    background-color: #dee4e9;
    width: 100%;
    padding: .5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    opacity: 90%;
    margin: auto;
}

.section3 h5 {
    font-size: 18px;
}

.techStack {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.techStack img {
    width: 30px;
}

.imgStack {
    margin : 0px .5rem;
}



/* EXTRAS CARD */
.extrasWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.extrasCardWrapper {
    display: flex;
    align-items: center;
    width: 80%;
    height: max-content;
    justify-content: center;
}

.project-photo {
    border-radius: 10px;
}

.extrasCardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
}

.extrasCardContent2 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0px .5rem;
}

.extrasCardContent h3 {
    font-size: 18px;
}
/* EXTRAS TWO */
.extrasTwo {
    background-color: #9eafbf;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}