/* ---- FOOTER SECTION ---- */
.end {
    background-color: #406682;
    color: aliceblue;
    margin-top: 4rem;
}

.Fwrapper {
    padding: 2rem;
}

.footerNav nav {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.Flogo {
    font-family: "pixelify sans";
    font-weight: bold;
    color: rgb(170, 64, 126);
    font-size: 35px;
    padding: 2.5% 0px;
}

.footerNav nav ul li a {
    transition: .4s;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
}

.footerNav nav ul li a:hover {
    font-size: 18px;
    transition: .4s;
    color: #dd5a86;
}

.copyright p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: aliceblue;
}