/* ---- FOOTER SECTION ---- */
.end {
    color: #252525;
    margin-top: 1.5rem;
}

.footerHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 1.5rem;

}

.Flogo {
    text-decoration: none;
    color: #252525;
    font-weight: bold;
    font-family: "pixelify sans";
    padding: 3px;
    font-size: 28px;
}

.footerDesc {
    font-weight: bold;
}

.Fmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: .5rem 4rem;
    font-weight: bold;
}

.Fmenu-links {
    text-decoration: none;
}

.copy {
    text-align: center;
}