/* ---- ALL ---- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #252525;
}

.hr {
  background-color: #7f96aa;
  width: 12%;
  height: 3px;
  border-radius: 10px;
  margin: auto;
}


.intro {
  font-family: Bebas Neue;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
}

.introdesc {
  font-family: cabin;
  padding: 0px 1rem;
  text-align: end;
}

.contentWrapper {
  /* position: relative;
    left: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
}

.ryo {
  padding: 10px;
  width: 400px;
  height: 275px;
  opacity: 95%;
}

/* Image Overlays */
.image-container {
  position: relative;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.491);
  border-radius: 15px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: #c9efff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* SLIDING SECTION */
.slidingSection {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  margin: 0.5rem 0px;
}

.slidingSection::-webkit-scrollbar {
  display: none;
}

.slidingSection {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sliding-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 30%,
    white 80.6%,
    transparent
  ); /*webkit g diajak*/
  mask: linear-gradient(
    90deg,
    transparent,
    white 30%,
    white 80.6%,
    transparent
  );
  /* animation: scroll  40s linear infinite; */

}

@keyframes scroll {
    from {
      transform: translate(0%);
    }
    to {
      transform: translate(-345%);
    }
}

.image-container {
  border-radius: 15px;
  animation: scroll 10s linear infinite;
}
/* END */

.contentWrapper2 {
  /* position: relative;
    left: 25%; */
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 8rem auto;
  padding: 10px;
}

.contentWrapper3 {
  /* position: relative;
    left: 25%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  padding: 10px;
}

.contentWrapper4 {
  /* position: relative;
    left: 25%; */
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 8rem auto;
  padding: 10px;
}

.replace-text-desc {
  width: 90%;
}

/* .replace-text-desc2::after {
  content: "Escape freak diddy's obby";
  display: block;
  font-size: 16px;
}

.replace-text-desc3::after {
  content: "Escape freak diddy's obby";
  display: block;
  font-size: 16px;
}

.replace-text-desc4::after {
  content: "Ambalabu";
  display: block;
  font-size: 16px;
} */

/* .section-content {
  margin: 1rem auto;
  padding: 20px;
} */

.creditsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageGroups {
  display: flex;
  flex-direction: row;
  gap: 15%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 2rem;
  opacity: 90%;
}

.creditsTxt {
  font-size: 10px;
  font-weight: bold;
  opacity: 90%;
}
