.wrapperProjects {
    margin: 1.2rem;
}

.projectCard {
    padding : 1rem;
    background: rgba(114, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(114, 255, 255, 0.1);
    margin: 1.5rem 0px;
}

.socialWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

.linkToProjects {
    text-align: end;
    font-weight: bold;
}