/* ALL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SINGLE CONTENT */
body {
    width: 100%;
    height: 100vh;
    text-decoration: none;
    font-family: Roboto;
}
header {
    background: #252525;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    font-size: 30px;
    color: #fefefe;
    font-weight: bold;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #fefefe;
    padding: 5px 0;
    margin: auto 10px;
    border-radius: 50px;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
}
header nav ul li a:hover {
  background-color: #fefefe;
  padding: 8px 25px;
  color: #252525;
}
header nav ul li a.active {
    background-color: #fefefe;
    color: #252525;
    padding: 8px 10px;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fefefe;
} /* END OF NAVBAR SECTION */


.title-one {
    text-align: center;
    padding: 6px;
    font-family: Montserrat, Arial, "Segoe UI", Sans-Serif;
    font-weight: bold;
}
.content-header {
    font-family: Montserrat, "Segoe UI", Sans-Serif;
    text-align: center;
    margin: 6px;
    font-weight: bold;
}
.box-overflow {
    background-color: #256d85;
    padding: 6px;
    width: 100%;
    height: 30vh;
    margin: auto;
    border: 1px solid #000;
    /*  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8); */
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 8px;
}
.box-content {
    background-color: #dff6ff;
    margin: 10px;
    padding: 4px;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
}
figcaption {
    text-align: center;
    font-family: Montserrat, Arial;
    color: #000;
}
.pembatas-project {
    background-color: #000;
    width: 85%;
    height: 2px;
    opacity: 80%;
    margin: auto;
}
.intro-box {
    width: 85%;
    margin: auto;
    background-color: #256d85;
    color: #ffffff;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.8);
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 1.5rem;
}
.image-content {
    width: 20vh;
    height: 20vh;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
}
.sub-section-img {
    width: 50%;
    height: 50%;
    margin: 1rem 0px 1rem 0px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    box-shadow: 4px 6px 1px #000;
    position: relative;
    left: 25%;
}
.info-header {
    position: sticky;
    font-family: Montserrat, "Segoe UI", Sans-Serif;
    font-weight: bold;
    padding: 2px;
}
.random-info {
    background-color: #dafffb;
    color: #000;
    width: 100%;
    padding: 8px;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #000;
}
.box-info {
    margin: 5px;
    padding: 2px;
}
.info {
    background-color: #2e8a99;
    width: 96%;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
}
.img-info {
    float: left;
    width: 15%;
    height: 15%;
    margin: 3px;
    position: relative;
    right: 4%;
    border-radius: 6px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}
.sub-section {
    margin: auto;
    padding: 8px;
}
/* audio {
position: relative;
left: 13%;
color: red;
margin: 18px;
} */
footer {
    background-color: #252525;
    width: 100%;
    height: 140vh;
}
.f-footer {
    width: 180px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-container {
    padding: 8px;
    text-align: center;
}
.footer-section1 {
    margin: 1rem 0px 4rem 0px;
}
.footer-section2 {
    margin: 1rem 0px 4rem 0px;
}
.source-section {
    padding: 1rem 2px 0px 2px;
}
.tools-section {
    padding: 0.5rem 2px 0px 2px;
}
ul {
    list-style-type: none;
}
.pembatas-footer {
    width: 80%;
    height: 2px;
    background-color: #ffff;
    opacity: 80%;
    margin: 0.5rem auto 0.5rem auto;
}
.footer2 {
    background-color: #dff6ff;
    padding: 8px;
}
.author-desc {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
}
.author {
    margin: auto;
    width: 200px;
    height: 60px;
}
.download {
    background-color: lightgreen;
    color: #252525;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    margin: 1rem 0.5rem 1rem 0.5rem;
}
.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icons {
    margin: 2rem 5px 5px 5px;
    width: 25px;
    height: 25px;
}
.desc {
    margin: 3px;
}

/* GROUP CLASS */
.inline-content img {
    width: 30%;
    height: 28%;
    border-radius: 100%;
    float: left;
    padding: 5px;
    cursor: pointer;
}
.box-content h1 p {
    float: right;
    font-family: Montserrat, "Segoe UI", Arial;
    padding: 5px;
    margin-left: 4px;
}
.info h1 p {
    float: right;
    padding: 3px;
    font-family: Montserrat, "Segoe UI", Arial;
}
.info a {
    position: relative;
    left: 85%;
    padding: 8px;
    text-decoration: none;
    color: #000;
    font-family: "Ubuntu Mono", Monospace;
    font-size: 18px;
}
.tools-list a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
    font-family: Arial;
}
.source-list a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #ffff;
    font-family: Arial;
}
.footer-container h1 {
    margin: 0.5rem auto 0.5rem auto;
    color: #ffff;
    font-family: Montserrat, "Segoe UI", Arial;
    font-size: 30px;
    font-weight: bold;
}
.footer2 p {
    color: #000;
    font-size: 17px;
    font-style: italic;
    font-family: Montserrat, "Segoe UI", Arial;
    text-align: center;
}
.author-desc p {
    text-align: center;
    font-weight: bold;
    color: #ffff;
    font-size: 25px;
}
.section-three p {
    padding: 8px;
    font-size: 18px;
    font-family: Georgia;
}
.sub-section-desc p {
    padding: 6px;
}
.sub-section-container h1 {
    font-family: Montserrat, "Segoe UI", Arial;
    font-weight: bold;
    text-align: center;
}


/* FOR PROJECT HTML PAGE */
.project-section-one {
  background-color: tomato;
  padding: 6px;
  color: #000;
  width: 95%;
  margin: 20px auto 20px auto;
  border-radius: 12px;
  border: 1px solid #fefefe;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

.project-list  {
  background-color: lightgrey;
  padding: 6px;
  color: #000;
  width: 100%;
  margin: auto;
}
.project-container {
  background-color: #DFF6FF;
  width: 98%;
  margin: 5px auto 5px auto;
  padding: 8px;
  border-radius: 10px 10px 10px 0;
  border: 1px solid #fefefe;
} 
.desc1 {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  padding: 2px;
}
.project-section-three {
  background-color: #DFF6FF;
  width: 95%;
  margin: 25px auto 25px auto;
  border-radius: 6px;
  border: 1px solid #000;
  box-shadow: 1px 2px 7px rgba(0,0,0,0.8);
  padding: 6px;
}
.submit-button {
  background-color: #fefefe;
  color: #000;
  width: 4rem;
  height: 1.5rem;
  border-radius: 3px;
  border: 1px transparent;
}
textarea {
  background-color: #fefefe;
  color: #000;
  width: 80%;
  height: 10vh;
}
.page-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  margin: 12px;
}
.previous-button a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.4s;
}
.next-button a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.4s;
}
.previous-button a:hover {
  color: crimson;
  font-size: 18px;
}
.next-button a:hover {
  color: crimson;
  font-size: 18px;
}


/* GROUP CLASS PROJECT HTML PAGE */
.project-section-one h1 {
  text-align: center;
  font-family: "Ubuntu Mono", Monospace;
  font-size: 25px;
  margin: 4px;
} 
.readme-content p {
  text-align: center;
}
.project-img img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}
.project-container a p {
  display: flex;
  justify-content: flex-end;
  color: #000;
  font-family: Roboto, Arial, Tahoma;
  font-size: 15px;
  padding: 0 8px 0 0;
}
.project-container a {
  text-decoration: none;
}
.project-section-two h1 {
  margin: 6px;
  font-size: 25px;
  font-family: "Ubuntu mono", Monospace;
}

/* MEDIA SCREEN WIDTH */
@media only screen and (max-width: 1100px) {
  
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
        color: #fefefe;
    }
    header nav {
        position: absolute;
        width: 100%;
        margin-top: 3rem;
        left: 0;
        right: 0;
        top: -320px;
        background: #252525;
        border-bottom: 1px solid lightblue;
        border-radius: 0 0 10px 10px;
        padding: 30px;
        /* box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.8); */
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        top: 0;
        z-index: 3;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}
