/*ALL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*SINGLE CLASS*/
body {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  text-decoration: none;
  background-color: #DFF6FF;
}
.menu-container {
  background-color: #252525;
  padding: 18px;
}
.menu-content {
  display: flex;
  font-size: 10px;
  flex-direction: row;
  color: white;
  gap: 46%;
}
.menu-bottom {
  background-color: #265073;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-style: bold;
  margin-bottom: 8rem;
  color: white;
  box-shadow: 0px 2px 16px rgba(0,0,0,0.8);
}
.inTable {
  background-color: #ffff;
  width: 80%;
  margin: auto;
  padding: 3rem 3rem 4rem 3rem;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.8);
}
.note {
  text-align: center;
  font-size: 16px;
  margin-top: 2rem;
}
.inForm {
  margin: auto;
}
.angka1 {
  background-color: #DFF6FF;
  width: 55%;
  height: 2rem;
  border-radius: 5px;
}
.angka2 {
  background-color: #DFF6FF;
  width: 55%;
  height: 2rem;
  border-radius: 5px;
}
.txt-angka {
  font-size: 13px;
  font-family: Montserrat, 'Segoe UI', Arial;
  padding: 4px;
}
.end-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 0.5rem;
  
}
.operasi {
  background-color: #DFF6FF;
  width: 18%;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.button-submit {
  background-color: #DFF6FF;
  width: 18%;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  background-color: #252525;
  margin-top: 8rem;
  padding: 2rem;
  height: 60vh;
}
.judul-footer {
  text-align: left;
  padding: 3px;
  margin-bottom: 15px;
  font-size: 35px;
  font-family: Montserrat, 'Segoe UI', Sans-Serif;
  color: lightblue;
  cursor: default;
}
.member {
  color: #ffff;
  font-size: 16px;
  text-align: center;
}
.pembatas {
  width: 80%;
  margin: auto;
  color: blue, #ffff;
  margin-bottom: 2rem;
}
.members-column {
  padding: 0.8rem;
  margin-bottom: 2.5rem;
  cursor: crosshair;
}
.code-history {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  flex-wrap: center;
  font-size: 16px;
}
.link-column {
  padding: 0.5rem;
}
.link-column:hover {
  font-size: 18px;
  color: lightblue;
  padding: 0.8rem;
}
.wm {
  text-align: center;
  font-family: Montserrat, 'Segoe UI', Sans-Serif;
  color: lightblue;
}
/*GROUP CLASS*/
.menu-content img {
  width: 30px;
  height: 30px ;
  margin: auto;
  border-radius: 100%;
  border: 2px solid #ffff;
  cursor: pointer;
}
.menu-content h1{
  font-size: 18px;
  font-family: "Ubuntu Mono", Monospace;
  margin: auto;
}
.inTable h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Ubuntu Mono', Monospace;
  margin-bottom: 2rem;
}
.inForm h5 {
  text-align: center;
  font-size: 20px;
  margin: auto;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 7px;
  font-family: Montserrat, 'Segoe UI', Arial;
  width: 80%;
}
.footer-tambahan {
  background-color: #265073;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  margin-bottom: 8rem;
  color: #ffff;
}
.footer-container h1 {
  font-size: 30px;
}
.code-history a {
  text-decoration: none;
  color: #ffff;
}

/* FOR PC's */
@media  screen and (min-width: 992px) {
  .menu-container {
    padding: 23px;
  }
  .menu-content {
    font-size: 19px;
    gap: 70%;
  }
  .menu-content img {
    width: 40px;
    height: 40px;
    border: 3px solid #ffff;
  }
  .menu-bottom {
    padding: 7px;
    font-size: 15px;
  }
  .inTable {
    width: 60%;
  }
  .inForm h5 {
    width: 50%;
  }
  .angka1 {
    width: 50%;
  }
  .angka2 {
    width: 50%;
  }
  .button-submit {
    width: 14%;
  }
  .operasi {
    width: 14%;
  }
  .note {
    font-size: 18px;
  }
  .wm {
    text-align: justify;
    font-size: 25px;
  }
  .member {
    text-align: justify;
  }
  .link-column {
    text-align: justify;
  }
  .pembatas {
    width: 75%;
    position: relative;
    right: 10%;
  }
  .footer-tambahan {
    padding: 1.5rem;
    font-size: 15px;
  }
}

/* FOR TABLET/PAD */
@media screen and (min-width: 772px) {
  .menu-container {
    padding: 20px;
  }
  .menu-content {
    font-size: 16px;
    gap: 57%;
  }
  .menu-content img {
    width: 40px;
    height: 40px;
    border: 3px solid #ffff;
  }
  .menu-bottom {
    padding: 6px;
    font-size: 15px;
  }
  .inTable {
    width: 55%;
  }
  .inForm h5 {
    width: 50%;
  }
  .angka1 {
    width: 50%;
  }
  .angka2 {
    width: 50%;
  }
  .button-submit {
    width: 14%;
  }
  .operasi {
    width: 14%;
  }
  .note {
    font-size: 15px;
  }
  .wm {
    text-align: justify;
    font-size: 25px;
  }
  .member {
    text-align: justify;
  }
  .link-column {
    text-align: justify;
  }
  .pembatas {
    width: 75%;
    position: relative;
    right: 10%;
  }
  .footer-tambahan {
    padding: 1rem;
    font-size: 15px;
  }
}


